/****
 *  General
 */

::selection {
    background-color: #D85D00;
}

a {
    color: #ff7200;
}

a.active {
    color: #ad4f02;
}

a:hover {
    color: #ff9946;
}

:focus {
    outline: 2px solid #ff9946;
    /*outline-offset: -2px;*/
}


/****
 *  Header
 */


/*
 *  Logo
 */

div.WebsiteLogo {
    display: inline-block;
    margin: .2rem .5rem;
    width: fit-content;
}

div.WebsiteLogo a {
    display: inline-block;
    text-decoration: none;
}

div.WebsiteLogo h1 {
    color: #C87328;
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    text-shadow: .5rem -.1rem .2rem #000000;
    -webkit-text-stroke: .075rem #733C14;
}


/****
 *  Footer
 */

footer {
    background-color: #262626;
}