/****
 *  CSS Reset
 */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}


/****
 *  Vars & root
 */

:root {
    /* General */
    --DJ-background-color: #191919;
    --DJ-background-color2: #262626;
    /* Text */
    --DJ-color: #AFAFAF;
    --DJ-font-family: 'Gelasio', serif;
    --DJ-font-size: 2rem;
    --DJ-selection: rgb(0 60 60);
    /** Link */
    --DJ-Link-color: rgb(0 175 0);
    --DJ-Link-Hover_Select-color: rgb(0 225 0);
    /* Input Text */
    --DJ-input-text-background-color: #262626;
    --DJ-input-text-border-color: #34393D;
    /** Button */
    --DJ-button-background-color: #82471A;
    --DJ-button-border-color: #592D10;
    --DJ-button-color: #D1D1D1;
}


/****
 *  General
 */


/* Elements
 */

body {
    background-color: var(--DJ-background-color);
    color: var(--DJ-color);
    font-family: var(--DJ-font-family);
    font-size: var(--DJ-font-size);
    margin: 0;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h4 {
    margin: 1rem 0;
}

::selection {
    background-color: var(--DJ-selection);
}

a {
    color: var(--DJ-Link-color);
}

a.active {
    color: var(--DJ-Link-Hover_Select-color);
}

a:hover {
    color: var(--DJ-Link-Hover_Select-color);
}

:focus {
    outline: 2px solid var(--DJ-Link-Hover_Select-color);
    /*outline-offset: -2px;*/
}

a.img {
    outline: none;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: inherit;
}

button,
.button {}

iframe {
    border-width: 0;
}


/* Class
 */

.DisplayNone {
    display: none;
}


/****
 *  Header
 */

header {
    background-color: var(--DJ-background-color2);
    padding: 1rem 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


/*
 *  Logo
 */

.WebsiteLogo {
    display: inline-block;
    margin: .2rem .5rem;
    padding: .25rem;
    width: fit-content;
    /*Logo in Background*/
    background-image: url(/Dauw_Jonas/img/icon/Dauw_Jonas/2x2.ico);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
}

.WebsiteLogo a {
    text-decoration: none;
}

.WebsiteLogo h1 {
    color: var(--DJ-Link-color);
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
    /* old
    text-shadow: .5rem -.1rem .2rem rgb(0 10 0);
    */
    text-shadow: 0 0 .5rem rgb(0 10 0);
    -webkit-text-stroke: .1rem rgb(0 50 0);
}


/*
 *  Header Nav
 */

header nav {
    display: inline-block;
    margin: .5rem 0;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
}

header li a {
    background-color: #3A3F44;
    border: 2px solid grey;
    display: inline-block;
    padding: 1rem .5rem;
    text-align: center;
    transition-duration: .2s;
}

@media (min-width:500px) {
    header li a {
        border-right: 0;
    }
    header nav {
        margin: .5rem;
    }
    header li a {
        padding: 1.5rem;
    }
}

header li a:focus,
header li a:hover {
    background-color: #34393D;
    outline: none;
}

header li:last-child a {
    border-right: 2px solid grey;
}


/****
 *  Main
 */

main {
    margin: 0;
    width: 100%;
}

@media (min-width:1200px) {
    main {
        margin: 1rem;
        width: calc(100% - 2rem);
    }
}

main section {
    margin: 1.2rem 0;
}

main div.Item h4 {
    margin: .5rem 0;
}


/*
 * Img-Text
 * Flex
 */

.Img-Text.Med {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.Img-Text.Med>a:first-child {
    align-content: center;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

.Img-Text.Med img {
    display: inline-block;
    max-height: 25%;
    max-width: 50%;
}

.Img-Text.Med div {
    margin: 0;
    width: 100%;
}

.Img-Text.Med div h3:first-child {
    margin-top: 0;
}

.Img-Text.Med a {
    display: block;
}

.Img-Text.Med div blockquote {
    margin: 0;
}

@media (min-width:1000px) {
    .Img-Text.Med {
        flex-wrap: nowrap;
    }
    .Img-Text.Med>a:first-child {
        max-height: 25%;
        max-width: 50%;
    }
    .Img-Text.Med img {
        max-height: 100%;
        max-width: 100%;
    }
    .Img-Text.Med div {
        margin-left: 1rem;
    }
    .Img-Text.Med h3 {
        text-align: left;
    }
}


/*
 * VerList - Vertical List
 */

.VerList .ListItem {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.VerList .ListItem h4 {
    text-align: left;
}

.VerList .ListItem a {
    text-align: right;
    width: 30%;
}

.VerList .ListItem p {
    margin: .5rem 0;
}

.VerList .ListItem div {
    margin-left: .5rem;
    width: 70%;
}

@media (min-width:1200px) {
    .VerList .ListItem div {
        width: 50%;
    }
}


/*
 *  Flex
 */

.FlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.FlexItem {
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: .3rem 0;
}


/*
 *  Videos Flex
 */

.Videos.FlexItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31.5rem;
    max-height: 31.5rem;
    width: 56rem;
    max-width: 56rem;
    max-width: 100%;
    margin: .3rem 0;
    overflow: hidden;
}

@media (min-width:1200px) {
    .Videos.FlexItem {
        margin: .6rem;
    }
}

.VideoImg {
    cursor: pointer;
}


/****
 *  Footer
 */

footer {
    align-items: center;
    background-color: var(--DJ-background-color2);
    display: flex;
    flex-direction: column;
    padding: 1rem
}

footer address,
footer address a {
    font-style: normal;
    margin: 0;
    text-align: center;
}

footer div {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

footer a {
    display: inline-block;
}

div.OfficialLink {
    margin: .5rem auto;
}

div.OfficialLink p {
    margin: 0;
    text-align: center;
}


/****
 * Test
 */

.Test2 {}