/****
 *  CSS Reset
 */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}


/****
 *  Vars & root
 */

:root {
    /* General */
    --DJ-background-color: #191919;
    --DJ-background-color2: #262626;
    /* Text */
    --DJ-color: #AFAFAF;
    --DJ-font-family: 'Gelasio', serif;
    --DJ-font-size: 2rem;
    /** Link */
    /* Input Text */
    --DJ-input-text-background-color: #262626;
    --DJ-input-text-border-color: #34393D;
    /** Button */
    --DJ-button-background-color: #82471A;
    --DJ-button-border-color: #592D10;
    --DJ-button-color: #D1D1D1;
}


/****
 *  General
 */

body {
    background-color: var(--DJ-background-color);
    color: var(--DJ-color);
    font-family: var(--DJ-font-family);
    font-size: var(--DJ-font-size);
    margin: 0;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h4 {
    margin: 1rem 0;
}

::selection {
    background-color: #D85D00;
}

a {
    color: #ff7200;
}

a.active {
    color: #ad4f02;
}

a:hover {
    color: #ff9946;
}

:hover {}

:focus {
    outline: 2px solid #ff9946;
    /*outline-offset: -2px;*/
}

a.img {
    outline: none;
    text-decoration: none;
}

input,
textarea {
    font-family: inherit;
}

iframe {
    border-width: 0;
}


/****
 *  Header
 */

header {
    background-color: #262626;
    padding: 1rem 0;
}


/*
 *  Logo
 */

div#DivHeader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

div.WebsiteLogo {
    display: inline-block;
    margin: .2rem .5rem;
    width: fit-content;
}

div.WebsiteLogo a {
    display: inline-block;
    text-decoration: none;
}

div.WebsiteLogo h1 {
    color: #C87328;
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    text-shadow: .5rem -.1rem .2rem #000000;
    -webkit-text-stroke: .075rem #733C14;
}


/*
 *  Header Nav
 */

header nav {
    display: inline-block;
    margin: .5rem 0;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
}

header li a {
    background-color: #3A3F44;
    border: 2px solid grey;
    display: inline-block;
    padding: 1rem .5rem;
    text-align: center;
    transition-duration: .2s;
}

@media (min-width:500px) {
    header li a {
        border-right: 0;
    }
    header nav {
        margin: .5rem;
    }
    header li a {
        padding: 1.5rem;
    }
}

header li a:focus,
header li a:hover {
    background-color: #34393D;
    outline: none;
}

header li:last-child a {
    border-right: 2px solid grey;
}


/****
 *  Main
 */

main {
    margin: 0;
    width: 100%;
}

@media (min-width:1200px) {
    main {
        margin: 1rem;
        width: calc(100% - 2rem);
    }
}

section {
    margin: 1.2rem 0;
}

div.Item h4 {
    margin: .5rem 0;
}


/*
 * Img-Text
 * Flex
 */

section.Img-Text.Med {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

section.Img-Text.Med>a:first-child {
    align-content: center;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

section.Img-Text.Med img {
    display: inline-block;
    max-height: 25%;
    max-width: 50%;
}

section.Img-Text.Med div {
    margin: 0;
    width: 100%;
}

section.Img-Text.Med div h3:first-child {
    margin-top: 0;
}

section.Img-Text.Med p {}

section.Img-Text.Med a {
    display: block;
}


/*
section.Img-Text.Med p:last-child {
    margin-bottom: 0;
}
*/

section.Img-Text.Med div blockquote {
    margin: 0;
}

@media (min-width:1000px) {
    section.Img-Text.Med {
        flex-wrap: nowrap;
    }
    section.Img-Text.Med>a:first-child {
        max-height: 25%;
        max-width: 50%;
    }
    section.Img-Text.Med img {
        max-height: 100%;
        max-width: 100%;
    }
    section.Img-Text.Med div {
        margin-left: 1rem;
    }
    section.Img-Text.Med h3 {
        text-align: left;
    }
}


/*
 *  Flex
 */

.FlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.FlexItem {
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: .3rem 0;
}


/*
 *  Videos Flex
 */

.Videos.FlexItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31.5rem;
    max-height: 31.5rem;
    width: 56rem;
    max-width: 56rem;
    max-width: 100%;
    margin: .3rem 0;
    overflow: hidden;
}

@media (min-width:1200px) {
    .Videos.FlexItem {
        margin: .6rem;
    }
}

.VideoImg {
    cursor: pointer;
}


/****
 *  Footer
 */

footer {
    align-items: center;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    padding: 1rem
}

footer address,
footer address a {
    font-style: normal;
    margin: 0;
    text-align: center;
}

footer div {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

footer a {
    display: inline-block;
    margin: .5rem;
}

div.OfficialLink {
    margin: .5rem auto;
}

div.OfficialLink p {
    margin: 0;
    text-align: center;
}